#wrapper
{
    color: black;
	width: 700px;
	margin: auto;
	background: gray;
	padding: 25px;
	border-radius: 15px;
}

h1
{
	text-align:center;
}

#login
{
	font-weight:bold;
}

p
{
	font-weight:bold;
}

body
{
	background-color:silver;
}
