<!DOCTYPE html>
<html lang="en">
	<!----------------------------------------------- Head ------------------------------------------------->
	<head>
		<link rel="stylesheet" href="css/index.css"> <!-- include external css -->

		<meta charset="utf-8">
		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Where's Carry</title>                <!--title-->
		<meta name="description" content="">
		<meta name="author" content="FroZilla">
		<meta name="viewport" content="width=device-width initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">


	</head>
	<!----------------------------------------------- Head END ------------------------------------------------->

	<!----------------------------------------------- Body ------------------------------------------------->
	<body>
		<div id="wrapper">
            <div class="page-header">
                <h1>Dispatch Robotics<small>CST 499 Capstone</small></h1>
            </div>
			
			<!-- Page Navigation -->
			<nav>
				<a href="/">Home</a>
			</nav>

            <!--<ul class="nav nav-pills nav-justified">-->
                <!--<li role="presentation" class="active"><a href="/">Dispatch</a></li>-->
            <!--</ul>-->
            <div class="panel panel-default" id="map_panel">
                <div class="panel-body">
                    <div  class="dropdown" id="dropdown_fleet_select">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">Select One<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="fleet_select"></ul>
                    </div>

                    <div class="dropdown" id="dropdown_trip_select">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="true">
                            Select One
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="trip_select">

                        </ul>
                    </div>

                    <div id="map"></div>
                </div>
            </div>

			<!------------------------------------------- Carry Data -------------------------------------------->
            <div class="row" id="information_container">
                <div class="col-xs-6 col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Starting Location</h3>
                        </div>
                        <div class="panel-body">
                            <span id="start_address"></span>
                        </div>
                    </div>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">End Location</h3>
                        </div>
                        <div class="panel-body">
                            <span id="end_address"></span>
                        </div>
                    </div>
                </div><!-- /.col-sm-4 -->
                <!-- Table -->
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <table class="table table-bordered table-hover" id="table_body">

                    </table>
                </div>
            </div>
			<!--<div class="well well-lg">-->
				<!--<table id ="table" border="1">-->
					<!--&lt;!&ndash; Hogan Code &ndash;&gt;-->
					<!--<tr><td>Latitude</td><td id = "latval">{{carry_data_current.current_location.lattitude}}</td></tr>-->
					<!--<tr><td>Longtitude</td><td id="longval">{{carry_data_current.current_location.longitude}}</td></tr>-->
					<!--<tr><td>Speed</td><td id="speedval">{{carry_data_current.speed}}</td></tr>-->
					<!--<tr><td>Elevation</td><td id="eleval">{{carry_data_current.current_location.elevation}}</td></tr>-->
				<!--</table>-->
                <!--<span id="start_address"></span>-->
                <!--<span id="end_address"></span>-->
			<!--</div>-->
			<!------------------------------------------- Carry Data END -------------------------------------------->

            <footer>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
                <script src="javascript/map.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key={{API}}&callback=setupMap"
                        async defer></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                        crossorigin="anonymous"></script>
                <script src="/socket.io/socket.io.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.js"></script>
                <script src="javascript/client.js"></script>
				<p>
					&copy; Copyright  by Team SkyNet
				</p>
			</footer>

		</div>
	</body>
	<!----------------------------------------------- Body ------------------------------------------------->
</html>
