#wrapper
{
    color: white;
	width: 700px;
	margin: auto;
	background: gray;
	padding: 25px;
	border-radius: 15px;
}

#mainheader 
{
	color:white;
	background-color:#002f5d;
	text-align:center;
}

nav a
{
	background:silver;
	padding:10px;
	padding-bottom:1px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
}

#login
{
	font-weight:bold;
}

p
{
	font-weight:bold;
}

body
{
	background-color:silver;
}

tr
{
	color:black;
	font-weight:bold;
}

#map
{
	height:440px;
 	width:700px
}

#autocomplete
{
	width:700px;
}


