#wrapper
{
	width: 80%;
	margin: auto;
	padding: 25px;

}

/*#mainheader */
/*{*/
	/*color:white;*/
	/*background-color:#002f5d;*/
	/*text-align:center;*/
/*}*/

/*nav a*/
/*{*/
	/*background:silver;*/
	/*padding:10px;*/
	/*padding-bottom:1px;*/
	/*border-top-left-radius:20px;*/
	/*border-top-right-radius:20px;*/
/*}*/

/*#login*/
/*{*/
	/*font-weight:bold;*/
/*}*/

/*p*/
/*{*/
	/*font-weight:bold;*/
/*}*/

/*body*/
/*{*/
	/*background-color:silver;*/
/*}*/

/*tr*/
/*{*/
	/*color:black;*/
	/*font-weight:bold;*/
/*}*/

/*#map*/
/*{*/
	/*height:440px;*/
 	/*width:700px*/
/*}*/

/*#autocomplete*/
/*{*/
	/*width:700px;*/
/*}*/


#dropdown_trip_select{
	visibility: hidden;
	display: inline;
}
#dropdown_fleet_select{
	display: inline;
}
#start_address{
	visibility: hidden;
}
#end_address{
	visibility: hidden;
}
#information_container{
	visibility: hidden;
}

#map {
	height: 450px;
}
#dropdownMenu1, #dropdownMenu2{
	margin-bottom: 10px;
}
.glyphicon-refresh-animate {
	-animation: spin .7s infinite linear;
	-webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}